.is_subscription_page.mfn {
  > h1 {
    display: none;
  }
}
.mfn-info-main-1 {
    letter-spacing: 0.035rem;
    margin-bottom: 2rem;
}
.mfn-subscribe {
  max-width: max-content;
}
.mfn {
  .mfn-options {
    .mfn-list {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
    }
  }
  .mfn-policy-text {
    font-size: 0.875rem;    a {
      text-decoration: underline;
    }
  }
  .mfn-field-input {
    margin: calc(1rem - 5px) 0;
    max-width: 20rem;
  }
  .mfn-languages {
    .mfn-list {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      
    }
  }
  .mfn-policy {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    .mfn-policy-approve {
      max-width: fit-content;
    }
  }
}
.mfn-sub-submit {
  margin-top: 1.5rem;
    letter-spacing: .02rem;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    border-width: 1px;
}
